.codeBtn {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 550px;
    position: relative;
    padding-right: 2rem; // spacing for tags and desc
    padding-bottom: 2rem; //spacing for desc

    .title {
        position: absolute;
        font-size: 2rem;
        top: -3rem;
        color: var(--black);
        text-shadow: 1px 1px var(--black);
        background-color: var(--white);
        height: 2.5rem;
        padding: 0.25rem 0.5rem;
        transition: background-color 0.2s linear;
        // z-index: 9999;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2.98rem;
            height: 0;
            border-radius: 0;
            width: 0px;
            border-left: 3rem solid var(--white);
            border-right: none;
            border-top: 3rem solid transparent;
            transition: border-color 0.2s linear;
        }
    }

    .scale-box {
        width: 100%;
        aspect-ratio: 5 / 3;
        overflow: hidden;
        margin-right: 10%;
        border-radius: 8px;
        border-top-left-radius: 0;
        border: 4px var(--white) solid;
        transition: border-color 0.2s linear;
        // transition-delay: 0.1s;
        img {
            width: 100%;
            height: auto;
            // box-shadow: inset 0 0 20px var(--black);
            transform: scale(1.05);
            transition: transform 0.3s ease-in;
        }
        .shadow {
            position: absolute;
            top: 4px;
            right: 4px;
            height: calc(100% - 12px);
            width: calc(100% - 8px);
            box-shadow: inset 0 0 10px 10px var(--black);
        }
        .tags {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            position: absolute;
            top: 0.5rem;
            right: -1.5rem;
            gap: 0.5em;
            flex-wrap: wrap;
            width: max-content;
            p {
                padding: 4px 12px;
                background-color: var(--purple);
                border-radius: 5px;
                font-weight: 400;
                margin: 0;
                width: max-content;
                color: var(--black);
                border: 2px var(--white) solid; 
                transition: border-color 0.2s linear;
                &.web {
                    background-color: var(--blue);
                }
                &.lang {
                    background-color: var(--pink);
                }
                &.db {
                    background-color: var(--green);
                }
            }
        }
        
    }
    
    .overlayer {
        width: calc(90% - 2px);
        height: calc(100% - 2px);
        background-color: rgba(13, 14, 14, 0.20);;
        border: 1px var(--white) solid;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        transition: border-width 0.2s ease-in, height 0.2s ease-in, width 0.2s ease-in;
        transition-delay: 0.1s;
        
    }
    .desc {
        position: absolute;
        bottom: 0;
        right: 0;
        width: max-content;
        background-color: var(--purple);
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        max-width: 40%;
        padding: 0.2em 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -1.98em;
            height: calc(100% - 2em);
            border-radius: 0;
            width: 0px;
            border-right: 2em solid var(--purple);
            border-left: none;
            border-bottom: 2em solid transparent;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -1.98em;
            height: calc(100% - 2em);
            border-radius: 0;
            width: 0px;
            border-left: 2em solid var(--purple);
            border-right: none;
            border-top: 2em solid transparent;
        }
        
        p {
            margin: 1px;
            span {
                font-weight: 600;
            }
        }
    }
    &:hover {
        backdrop-filter: none;
        border-width: 7px;
        width: calc(90% - 14px);
        height: calc(100% - 14px);
        .scale-box {
            border-color: var(--purple);
        }
        .title {
            background-color: var(--purple);
        }
        .title:after {
            border-left-color: var(--purple);
        }
        .tags p {
            border-color: var(--purple);
        }
        .scale-box img {
            transform: scale(1);
        }
        .scale-box img.scroll {
            animation: scrollPage 10s .5s linear infinite;
            @keyframes scrollPage {
                0% {
                    filter: brightness(100%);
                }   
                3% {
                    transform: translateY(0);
                }
                90% {
                    transform: translateY(-350px);
                }
                97% {
                    filter: brightness(100%);
                }
                100% {
                    transform: translateY(-350px);
                    filter: brightness(0%);
                }
            }
        }
    }
    
}