.Code {
    padding-top: 7em;
    .content {

        .projects {
            padding-top: 3em;
            font-family: var(--code);
            font-weight: 200;
            .project-grid {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5em;
                padding: 50px 0;

                .project {
                    display: flex;
                    flex-basis: 500px;
                    flex-grow: 1;
                    max-width: 800px;
                    position: relative;
                    .scale-box {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        margin-right: 10%;
                        border-radius: 4px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 4px ;
                            transform: scale(1);
                            transition: transform 0.3s ease-in;
                        }
                    }
                    .overlayer {
                        width: calc(90% - 2px);
                        height: calc(100% - 2px);
                        background-color: rgba(13, 14, 14, 0.20);;
                        backdrop-filter: blur(8px);
                        border: 1px var(--white) solid;
                        border-radius: 4px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: backdrop-filter 0.2s ease-in, border-width 0.2s ease-in, height 0.2s ease-in, width 0.2s ease-in;
                        transition-delay: 0.1s;
                        .tags {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: 0.5em;
                            position: absolute;
                            bottom: -1em;
                            right: 50%;
                            transform: translateX(50%);
                            gap: 0.5em;
                            flex-wrap: wrap;
                            width: 100%;
                            transition: transform 0.2s ease-in;
                            transition-delay: 0.1s;
                            p {
                                padding: 4px 12px;
                                background-color: var(--purple);
                                border-radius: 99px;
                                font-weight: 400;
                                margin: 0;
                                color: var(--black);
                                &.web {
                                    background-color: var(--blue);
                                }
                                &.lang {
                                    background-color: var(--pink);
                                }
                                &.db {
                                    background-color: var(--green);
                                }
                            }
                        }
                    }
                    .desc {
                        position: absolute;
                        top: -10%;
                        right: 5%;
                        width: max-content;
                        background-color: var(--purple);
                        color: var(--black);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 96px;
                        padding: 0.2em 0;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -1.98em;
                            height: calc(100% - 2em);
                            border-radius: 0;
                            width: 0px;
                            border-right: 2em solid var(--purple);
                            border-left: none;
                            border-bottom: 2em solid transparent;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -1.98em;
                            height: calc(100% - 2em);
                            border-radius: 0;
                            width: 0px;
                            border-left: 2em solid var(--purple);
                            border-right: none;
                            border-top: 2em solid transparent;
                        }
                        
                        p {
                            opacity: 1;
                            position: absolute;
                            margin: 1px;
                            transition: opacity 0.2s ease-in;
                            span {
                                font-weight: 600;
                            }
                        }
                        h3 {
                            opacity: 0;
                            position: relative; 
                            display: flex;
                            justify-content: center;
                            flex-direction: column;                            
                            margin: 6px;
                            transition: opacity 0.2s ease-out;
                            transition-delay: 0.2s;
                        }
                    }
                    &:hover {
                        .overlayer {
                            backdrop-filter: none;
                            border-width: 7px;
                            width: calc(90% - 14px);
                            height: calc(100% - 14px);
                            .tags {
                                // transform: translate(50%, 7px);
                            }
                        }
                        .scale-box img {
                            transform: scale(1.1);
                        }
                        .desc {
                            p {
                                opacity: 0;
                            }
                            h3 {
                                opacity: 1;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    
}