header {
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-size: 1.75em;
    max-width: 1600px;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(var(--black) 50%, rgba(45, 44, 47, 0.75) 75%, rgba(0,0,0,0));
    z-index: 99;

    .logo {
        img {
            height: 50px;
            pointer-events: none;
        }
        &:hover {
            filter: hue-rotate(180deg);
            // transition: filter 0.15s linear;
        }
    }


    .nav {
        // width: max-content;
        margin-left: auto;

        a {
            text-decoration: none;
            color: ivory;
            margin: 0 0.75em;
            padding: 5px 0;
            border-bottom: 2px solid rgba(0,0,0,0);
            transition: border-bottom 0.15s linear;

            &:hover {
                border-bottom: 2px solid var(--purple);
            }
        }
    }
}