.Projects {
    padding-top: 7rem;

    .content {
        h1 {
            font-size: 4rem;
        }

        .projects-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5em;
            padding: 50px 0;
        }
    }
}